<% if @product == nil %>
	<h2>Oops, that product doesn't exist!</h2>

<% else %>
	<h1>Product #<%= @product.id %></h1>

	<% if @product!=nil && @product.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@product.errors.count, "error") %> prohibited this post from being saved: </h2>

			<% @product.errors.full_messages.each do |message| %>
				<p><%= message %></p>
			<% end %>
		</div>
	<% end %>

	<%	if defined? flash[:notice] %>
			<p class="notice"><%=flash[:notice]%></p>
	<%	end %>

	<!-- <p>Product id: <%= @product.id %></p> -->
	<p>Name: <%= @product.name %></p>
	<p>Description: <%= @product.description %></p>
	<p>Category: <%= @product.category.name if @product.category!=nil %></p>
	<p>Price: <%= @product.pricing %></p>

	<div id="container" class="col-sm-6">
		<div class="form-container">
			<%= simple_form_for(@comment, :defaults => { :wrapper_html => {:class=>"form-group"}, :input_html => { :class => "form-control" } }) do |f| %>
				<%= f.input :product_id, :as=>:hidden, input_html: {:value => @comment.product_id} %>
				<%= f.input :content, label: "Comment:" %>
				<%= f.input :author, label: "Your name:" %>
				<%= f.button :submit, input_html: {value: 'Submit'}, class: "btn btn-primary"%>
			<% end %>
		
		</div>
		<% if @comments!=nil %>
			<% @comments.each do |comment| %>
				<div class="comment-group">
					<p><%= comment.author %> - <%= comment.created_at %><p>
					<p class="comment-content"><%= comment.content %></p>
				</div>
			<% end %>
		<% end %>
		
		
	</div>
<% end %>
